/* ?reset */
*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

/* !Utiltys */

.d-flex{
    display: flex;
}

/* ?Header */

header > div {
    font-family: 'Nerko One';
    color: #d99a4c;
    font-size: 3rem;
    text-align: center;
}

/* ?main */

main, footer{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

/* ?footer */

footer{
    background-color: #7c69a4;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    padding: 1.5rem 0px;
}

footer address{
    font-style: normal;
}

.copyright{
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.terms > ul{
    list-style: none;
    gap: 2rem;
}

.terms > ul > li > a{
    color: white;
}


@media screen and (min-width:480px) {

    header > div {
        text-align: start;
    }
    
}

@media screen and (min-width:992px) {

    footer{
        flex-direction:row;
        justify-content:space-between;
        padding:1.5rem 1.5rem;
    }
}