/* ?reset */
*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

/* !Utiltys */

.d-flex{
    display: flex;
}

.container{
    padding: 0rem 2rem;
}

.font-w-800{
    font-weight: 800;
}


/* ?Header */

header > h1 {
    font-family: 'Nerko One';
    color: #d99a4c;
    font-size: 3rem;
    text-align: center;
}

/* ?main */

main, footer{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

main{
    background-color: #f6f5f3;
}

.plate{
    flex-direction: column;
}

.plate-name{
    font-size: 2rem;
    color: #4e3969;
}

.plate-name > span{
    display: none;
}

.plate-category{
    color: #ded2c4;
    margin-bottom: 0.5rem;
}

.plate-video{
    position: relative;
}

.plate-video > img{
    width: 100%;
    height: auto;
}


.description{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.plate-description{
    background-color: #ffffff;
    padding:3rem 4rem;
}

.plate-description > h3{
    margin-bottom: 2rem;
}

.plate-description > ul {
    list-style: none;
    flex-direction: column;
    gap: 1rem;
}

.social{
    justify-content: space-between;
    gap: 1rem;
}

.social > figure{
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 0.3rem 0.5rem;
    flex-basis: calc(100% / 5);
}

.social > figure > img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}

.social > figure > span{
    display: none;
    vertical-align: middle;
}


.adv{
    display: none;
}

.adv > img {
    width: 100%;
    height: auto;
}

.divisor{
    background-color: #f79932 ;
    height: 0.2rem;
    width: 20%;
    margin-bottom: 1rem;
}


.presentation > figure > img{
    width: 100%;
    height: auto;
}

.presentation > h2{
    font-size: 3rem;
    font-weight: 400;
}

.presentation > p{
    line-height: 2rem;
}

/* ?footer */

footer{
    background-color: #7c69a4;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    padding: 1.5rem 0px;
}

footer address{
    font-style: normal;
}

.copyright{
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.terms > ul{
    list-style: none;
    gap: 2rem;
}

.terms > ul > li > a{
    color: white;
}


@media screen and (min-width:480px) {
    
    header > h1 {
        text-align: start;
    }
    
    .adv{
        display: block;
    }
    
    .presentation figure > img{
        width: 25%;
        float: inline-start;
        margin-right: 1rem;
    }
    
    .social > figure > span{
        display: none;
    } 

    .social > figure{
        display: flex;
        justify-content: center;
    }
    
    
}

@media screen and (min-width:992px) {
    
    
    .plate-name > span{
        display: inline;
    }
    
    footer{
        flex-direction:row;
        justify-content:space-between;
        padding:1.5rem 1.5rem;
        text-align: start;
    }
    
    .container{
        max-width: 1080px;
        margin:0 auto; 
    }
    
    .plate{
        flex-direction: row;
    }
    
    .plate-video > img{
        flex-basis: 50%;
    }
    
    
    .social > figure > img{
        width: 2rem;
        margin-right: 2px;
    }
    
    .social > figure > span{
        display: inline;
    }

}

.margin-b-2{
    margin-bottom: 2rem;
}