/* ?reset */
*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

/* !Utiltys */

.d-flex{
    display: flex;
}

.container{
    padding: 2rem 2rem;
}

/* ?Header */

header > h1 {
    font-family: 'Nerko One';
    color: #d99a4c;
    font-size: 3rem;
    text-align: center;
}

/* ?main */

main, footer{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

main{
    background-color: #f6f5f3;
}

.plate{
    flex-direction: column;
}

.plate-name{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.plate-category{
    color: #ded2c4;
    margin-bottom: 0.5rem;
}

.plate-description{
    background-color: #ffffff;
    padding:3rem 4rem;
}

.plate-description > h3{
    margin-bottom: 2rem;
}

.plate-description > ul {
    list-style: none;
    flex-direction: column;
    gap: 1rem;
}

.plate-description > ul > li > span{
    font-weight: 800;
}

.adv{
    display: none;
}

.adv > img {
        width: 100%;
        height: auto;
}

.divisor{
    background-color: #f79932 ;
    height: 0.2rem;
    width: 20%;
    margin-bottom: 1rem;
}


.presentation > figure > img{
    width: 100%;
    height: auto;
}

.presentation > h2{
    font-size: 3rem;
    font-weight: 400;
}

.presentation > p{
    line-height: 2rem;
}

/* ?footer */

footer{
    background-color: #7c69a4;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    padding: 1.5rem 0px;
}

footer address{
    font-style: normal;
}

.copyright{
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.terms > ul{
    list-style: none;
    gap: 2rem;
}

.terms > ul > li > a{
    color: white;
}


@media screen and (min-width:480px) {

    header > h1 {
        text-align: start;
    }
    
    .adv{
        display: block;
    }

    .presentation figure > img{
        width: 25%;
        float: inline-start;
        margin-right: 1rem;
    }


}

@media screen and (min-width:992px) {

    footer{
        flex-direction:row;
        justify-content:space-between;
        padding:1.5rem 1.5rem;
    }

    .container{
    max-width: 1080px;
    margin:0 auto; 
    }

}